Existing Button
<table>
    <th>
        <td>Name</td>
        <td>Text</td>
        <td>Color</td>
        <td>Font Size</td>
        <td>Font Color</td>
        <td>Height</td>
        <td>Width</td>
    </th>
    <tr class = "row-fluid" ng-repeat="button in existing_buttons">
        <td>
            <input style="width: 100px" type="text"
               id="rootFolder"
               ng-model="button.buttonName"
               size="40"/>
        </td>
        <td>
            <input style="width: 100px" type="text"
               id="rootFolder"
               ng-model="button.text"
               size="40" />
        </td>
        <td>
        <input style="width: 100px" type="text"
               id="rootFolder"
               ng-model="button.color"
               size="40" />
        </td>
        <td>
        <input style="width: 100px" type="text"
               id="rootFolder"
               ng-model="button.font_size"
               size="40" />
        </td>
        <td>
        <input style="width: 100px" type="text"
               id="rootFolder"
               ng-model="button.font_color"
               size="40" />
        </td>
        <td>
        <input style="width: 100px" type="text"
               id="rootFolder"
               ng-model="button.height"
               size="40" />
        </td>
        <td>
            <input style="width: 100px" type="text"
               id="rootFolder"
               ng-model="button.width"
               size="40" />
        </td>

    </tr>

</table>
<br>


<div>Button Name<input type="text"
ng-model="current_text_view.buttonName"
size="40"/></div>

<div>Font Color<input type="text"
ng-model="current_text_view.font_color"
size="40"/></div>

<div>Font Size<input type="text"
ng-model="current_text_view.font_size"
size="40"/></div>

<div>Color<input type="text"
           id="rootFolder"
           ng-model="current_text_view.color"
           size="40"/></div>

<div>Text<input type="text"
ng-model="current_text_view.text"
size="40"/></div>

<div>Width<input type="text"
ng-model="current_text_view.width"
size="40"/></div>

<div>Height<input type="text"
ng-model="current_text_view.height"
size="40"/></div>

<div>Theme<input type="text"
ng-model="themeObj.theme"
size="40"/></div>



{{current_text_view}}

{{text_views}}

{{textViewName}}

{{themeObj}}

<button ng-click="save_item(current_text_view)">Save</button>
