


<div>Button Name<input type="text"
ng-model="current_text_view.buttonName"
size="40"/></div>

<div>Font Color<input type="text"
ng-model="current_text_view.font_color"
size="40"/></div>

<div>Font Size<input type="text"
ng-model="current_text_view.font_size"
size="40"/></div>

<div>Color<input type="text"
           id="rootFolder"
           ng-model="current_text_view.color"
           size="40"/></div>

<div>Text<input type="text"
ng-model="current_text_view.text"
size="40"/></div>

<div>Width<input type="text"
ng-model="current_text_view.width"
size="40"/></div>

<div>Height<input type="text"
ng-model="current_text_view.height"
size="40"/></div>

<div>Theme<input type="text"
ng-model="themeObj.theme"
size="40"/></div>



{{current_text_view}}

{{text_views}}

{{textViewName}}

{{themeObj}}

<button ng-click="save_item(current_text_view)" class="btn btn-success">Save</button>
