<h1 class="alert alert-success fade-in" style="font-size: 30px;text-align: center">Your currently selected app is <strong>{{selectedApp}}</strong>.</h1>

<ul class="nav nav-tabs nav-stacked main-menu">
	<li><a href ng-click="routeToViews('text_views')"><i style="font-size: 30px"class="fa fa-database left-pad set-color-dark" ></i><span class="hidden-tablet set-color-dark " style="font-size: 20px"> Text Views</span></a></li>

	<li><a href ng-click="routeToViews('image_views')"><i style="font-size: 30px" class="fa fa-picture-o left-pad set-color-dark" ></i><span class="hidden-tablet set-color-dark" style="font-size: 20px"> Image Views</span></a></li>

	<li><a href ng-click="routeToViews('buttons')"><i style="font-size: 30px" class="fa fa-pencil-square-o left-pad set-color-dark"></i><span class="hidden-tablet set-color-dark" style="font-size: 20px"> Buttons</span></a></li>

	<li><a href ng-click="routeToViews('themes')"><i style="font-size: 30px" class="fa fa-asterisk left-pad set-color-dark"></i><span class="hidden-tablet set-color-dark" style="font-size: 20px"> Themes</span></a></li>
</ul>