<h1 class="alert alert-success fade-in">Your currently selected app is <strong>{{currentApp}}</strong>.</h1>

<ul class="nav nav-tabs nav-stacked main-menu">
	<li><a href ng-click="routeToViews('text_views')"><i class="fa fa-database left-pad set-color-dark" ></i><span class="hidden-tablet set-color-dark"> Text Views</span></a></li>

	<li><a href ng-click="routeToViews('image_views')"><i class="fa fa-picture-o left-pad set-color-dark" ></i><span class="hidden-tablet set-color-dark"> Image Views</span></a></li>

	<li><a href ng-click="routeToViews('buttons')"><i class="fa fa-pencil-square-o left-pad set-color-dark"></i><span class="hidden-tablet set-color-dark"> Buttons</span></a></li>

	<li><a href ng-click="routeToViews('themes')"><i class="fa fa-asterisk left-pad set-color-dark"></i><span class="hidden-tablet set-color-dark"> Themes</span></a></li>
	 {{selectedApp}}
</ul>