<!-- <div>{{app_name}}</div> -->
<!-- <div ng-repeat="item in items"> -->
<div class="well" >
	<div class="container">

		Existing Text Views
		<div class = "row-fluid" ng-repeat="tv in existing_text_views">
			<div class="col-sm-4 col-md-4 col-lg-4">
				<input type="text"
				id="rootFolder"
				ng-model="tv.ui_name"
				size="40"/>
				<input type="text"
				id="rootFolder"
				ng-model="tv.text"
				size="40" />
			</div>
		</div>

		<br>

		<div ng-repeat="text_view in text_views">

			<div class="row-fluid" style="margin-top: 30px">

				<div class="span6" >
					<span style="font-weight: bold;font-size: 18px;">UI element</span>
					<input type="text"
					id="rootFolder"
					ng-model="text_view.ui_name"
					placeholder="{{text_view.ui_name_placeholder}}"
					size="40"/>
				</div>

<!-- 	<div class="span6">
		<button ng-click="save_item(text_view.ui_name)" class="btn btn-default">Save</button>
	</div> -->
			</div>
			<!-- end ui name row -->

	<div class="row-fluid" ng-hide="hideIfBlank(text_view.ui_name)">
	<div class="span11" >
		<div class="row-fluid" >
			<div class="form-group span6">
				<label for="font size">Font Size</label>
				<input type="text" class="form-control "
				placeholder="{{text_view.font_size_placeholder}}" 
				value="{{text_view.font_size_placeholder}}" 
				ng-model="text_view.font_size" size="40">
			</div>

			<div class="form-group span6">
				<label for="Text">Text</label>
				<input type="text" class="form-control" 
				placeholder="{{text_view.text_placeholder}}" 
				value="{{text_view.text_placeholder}}" 
				ng-model="text_view.text" size="40">
			</div>
		</div>

		<div class="row-fluid" >
			<div class="form-group span6">
				<label for="font size">font color</label>
				<input type="text" class="form-control "
				placeholder="{{text_view.font_color_placeholder}}" 
				value="{{text_view.font_color_placeholder}}" 
				ng-model="text_view.font_color" 
				size="40">
			</div>

			<div class="form-group span6">
				<label for="font size">color</label>
				<input type="text" class="form-control "
				placeholder="{{text_view.color_placeholder}}" ng-model="text_view.color"
				value="{{text_view.color_placeholder}}" 
				size="40">
			</div>
		</div>
	</div>
<!-- 	<div class="row-fluid" >
		  <div class="form-group span6">

	<div class="col-md-6">
		<button ng-click="save_item(current_text_view)" class="btn btn-success">Save</button>
	</div>
</div>

<div class="row" >
<div class="well">
	  <div class="col-md-6">
		  <div class="form-group">
			  <div>font size<input type="text"
					ng-model="current_text_view.font_size"
					size="40"/>
				</div>
		  </div>

		  <div class="form-group">
			  <div>text<input type="text"
					ng-model="current_text_view.text"
					size="40"/>
				</div>
		  </div>
	  </div>
	  <!-- <div class="col-md-1"></div> -->

	  <div class="span1" style="position:relative; padding-top:55px;padding-left:20px;">
	  	<button type="button" class="btn btn-success" ng-click="save_item(text_view)">Submit</button>
	  </div>
	</div>
</div>

<!-- ng item -->
</div>

<div>
	<button type="button" class="btn btn-success" ng-click="add()">Add UI</button>
</div>

</div>
<!-- end well-->

