<!-- <div>{{app_name}}</div> -->
<div class="well">
<div class="container">

    Existing Text Views
    <div class = "row-fluid" ng-repeat="tv in existing_text_views">
         <div class="col-sm-4 col-md-4 col-lg-4">
            <input type="text"
                id="rootFolder"
                ng-model="tv.textViewName"
                size="40"/>
            <input type="text"
                   id="rootFolder"
                   ng-model="tv.text"
                   size="40" />
        </div>
    </div>

    <br>

<div class="row-fluid">
	<div class="span6" >
		UI element
		<input type="text"
			id="rootFolder"
			ng-model="current_text_view.textViewName"
			size="40"/>
	</div>

	<div class="span6">
		<button ng-click="save_item(current_text_view)" class="btn btn-default">Save</button>
	</div>
</div>

<div class="row-fluid">
<div class="span11" >

	<div class="row-fluid" >
    <div class="form-group span6">
      <label for="exampleInputEmail1">Font Size</label>
      <input type="text" class="form-control " id="exampleInputEmail1" placeholder="eg. 20" ng-model="current_text_view.text" size="40">
    </div>

    <div class="form-group span6">
      <label for="exampleInputPassword1">Text</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your text" ng-model="current_text_view.text" size="40">
    </div>
  </div>
	
	<div class="row-fluid" >
		  <div class="form-group span6">
			  <label for="wheel-demo">font color</label>
			  <input type="text"
			  id="font-color"
			  class="form-control demo"
			  data-control="wheel" value="#000000"
			  ng-model="current_text_view.font_color">
			</div>

		  <div class="form-group span6">
			  <label for="wheel-demo">color</label>
			  <input type="text"
			  id="color"
			  class="form-control demo"
			  data-control="wheel" value="#ff99ee"
			  ng-model="current_text_view.color">
			</div>
	</div>
	</div>

<div class="span1" style="position:relative; padding-top:55px;padding-left:20px;">
<button type="button" class="btn btn-success">Add+</button>
</div>

</div>
</div>
</div>
<!-- end well-->
