<div class="well" >
<div class="container">

<div style="font-weight: bold;font-size: 18px;margin-bottom: 20px;">
Existing Web Views
</div>
    
<table>
    <th>
        <td style="color: black; font-weight: bold;">Web View</td>
        <td style="color: black; font-weight: bold;">Page URL</td>
        <td style="color: black; font-weight: bold;">Height</td>
        <td style="color: black; font-weight: bold;">Width</td>
        <td style="color: black; font-weight: bold;">Color</td>
    </th>
    <tr class = "row-fluid" ng-repeat="wv in existing_web_views | orderBy: 'webViewName'">
        <td>
            {{ wv.webViewName }}
        </td>
        <td>
            <input style="width: 400px" type="text"
                                       id="rootFolder"
                                       ng-model="wv.page_url"
                                       ng-blur="existing_web_views.$save(wv)"
                                       size="400" />
        </td>
        <td>
            <input style="width: 60px" type="text"
                                       id="rootFolder"
                                       ng-model="wv.height"
                                       ng-change="existing_web_views.$save(wv)"
                                       size="400" />
        </td>
        <td>
            <input style="width: 60px" type="text"
                                       id="rootFolder"
                                       ng-model="wv.width"
                                       ng-change="existing_web_views.$save(wv)"
                                       size="400" />
        </td>
        <td>
            <input style="width: 60px" type="text"
                                       id="rootFolder"
                                       ng-model="wv.color"
                                       ng-change="existing_web_views.$save(wv)"
                                       size="400" />
        </td>

    </tr>

</table>

<br>

    <div ng-repeat="web_view in web_views">

      <div class="row-fluid" style="margin-top: 30px">
        <div class="span6" >
          <span style="font-weight: bold;font-size: 18px;">UI element</span>
          <input type="text"
          id="rootFolder"
          ng-model="web_view.webViewName"
          placeholder="{{web_view.webViewName_placeholder}}"
          size="40"/>
        </div>
      </div>
      <!-- end ui name row -->

  <div class="row-fluid" ng-hide="hideIfBlank(web_view.webViewName)">
  
  <div class="span8" >
    <div class="row-fluid" >
      <div class="form-group span6">
        <label for="Text">Page URL</label>
        <input type="text" class="form-control" 
        placeholder="{{web_view.page_url_placeholder}}" 
        value="{{web_view.page_url_placeholder}}" 
        ng-model="web_view.page_url" size="400">
      </div>

      <div class="form-group span6">
        <label for="font size">color</label>
        <input type="text" class="form-control "
        placeholder="{{web_view.color_placeholder}}" 
        ng-model="web_view.color"
        value="{{web_view.color_placeholder}}" 
        size="40">
      </div>
    </div>

    <div class="row-fluid" >
      <div class="form-group span6">
        <label for="Text">Height</label>
        <input type="text" class="form-control" 
        placeholder="{{web_view.height_placeholder}}" 
        value="{{web_view.height_placeholder}}" 
        ng-model="web_view.height" size="40">
      </div>

      <div class="form-group span6">
        <label for="Text">Width</label>
        <input type="text" class="form-control" 
        placeholder="{{web_view.width_placeholder}}" 
        value="{{web_view.width_placeholder}}" 
        ng-model="web_view.width" size="40">
      </div>
      
    </div>
  </div>

  <div class="span4" style="position:relative; padding-top:55px;padding-left:20px;">
      <button type="button" class="btn btn-primary" ng-click="save_item(web_view)">Submit</button>
    </div>
  </div>
</div>
<!-- ng item -->
</div>

<div>
  <button type="button" class="btn btn-success" ng-click="add()"style="position:relative; margin-top:40px;">
  Add UI</button>
</div>

</div>
<!-- end well-->
